<div class="jumbotron">
<h1><i class="fa fa-circle-o-notch"></i>MeetU</h1>
	<p>This is an awesome Meetup for You!</p>
	<%= link_to 'Sign up', new_user_registration_path, class: ' btn btn-primary btn-lg' %>
</div>
